* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #09041b;
}
.blog_background {
  background: conic-gradient(from 45deg, #070e5e, #4768a9);
}
