form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #684caf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
.blog_content {
  font-size: 18pt;
  height: 100px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}
